body {
  font-family:
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    "Open Sans",
    "Helvetica Neue",
    sans-serif;
  overflow-x: hidden;
}

.obstaculo {
  position: absolute;
  animation: ob-animation 2s infinite linear;
}

.obstaculo2 {
  position: absolute;
  animation: ob2-animation 3s infinite linear;
  top: 56%;
}

.obstaculo-paused {
  position: absolute;
  animation: none;
}

@keyframes ob-animation {
  from {
    right: -40px;
  }

  to {
    right: 100%;
  }
}

@keyframes ob2-animation {
  from {
    right: -2700px;
  }

  to {
    right: 100%;
  }
}
